.content_box {
  /*display: inline-block;
  border: 1px dotted #4F4F4F;
  padding: 10px;
  margin: 5px 5px 5px 5px;
  overflow: hidden;
  width:170px;*/
  /*float:left;*/
  border: 1px dotted #4F4F4F;
        padding: 10px;
        margin: 5px 5px 5px 0;
        overflow: hidden;
        font-size: 15px;
        line-height: 150%;
        letter-spacing: 1pt;
        color: #353535;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 170px;
        display: inline-block;
        font-size: 12px;
}
	/*所有初始定義*/
	*{
		margin:0 auto;
	}
	body{
		margin:10px 0 0 0;
	}
	/*最外框*/
	#outside{
		width:800px;
		/*height:611px;*/
		position:relative;
	}
	#banner{
		width:800px;
		height:155px;
		background:url(../Images/TPIA/banner.gif);
		background-repeat:no-repeat;
		background-size:100% auto;
		border-radius:15px 15px 0 0;
	}
	/*按鈕列底框*/
	#btnoutside{
		width:800px;
		height:50px;
		background:#76BEE0;
		z-index:2;
	}
	/*按鈕群-置中用包框*/
	#btngp{
		width:600px;
		height:50px;
		background:#CCCCCC;
		z-index:3;
	}
	/*按鈕含下拉內容包框*/
	#menbtngp1,#menbtngp2,#menbtngp3,#menbtngp4,#menbtngp5,#menbtngp6{
		width:100px;
		height:auto;
		z-index:4;
		float:left;
	}
	/*按鈕定義*/
	#btn1,#btn2,#btn3,#btn4,#btn5,#btn6{
		width:98px;
		height:45px;
		background:-webkit-linear-gradient(top,#68B7DC,#D2EAF6);
		border:#FFFFFF 1px solid;
		color:#11384A;
		line-height:45px;
		text-align:center;
		font-size:medium;
		font-weight:bold;
		font-family:"微軟正黑體";
		z-index:5;
		float:left;
	}
	#btn1:hover,#btn2:hover,#btn3:hover,#btn4:hover,#btn5:hover,#btn6:hover{
		width:133px;
		height:45px;
		background:#2A4FA0;
		border:#FFFFFF 1px solid;
		color:#FFFFFF;
		font-weight:bolder;
		cursor:pointer;
	}
	/*按鈕下拉內容定義*/
	#men1,#men2,#men3,#men4,#men5,#men6{
		width:133px;
		height:200px;
		background:#76BEE0;
		z-index:5;
		display:none;
		position:relative;	/*關鍵指令:實驗結果-若無此行將不顯示該div*/
		float:right;
		
		/*可將上float:right 註解掉，換成下列三行，產生另一種位置效果!*/
		/*
		margin:0;
		top:40px;
		left:100px;
		*/
	}
	#men1{
		height:200px;
	}
	#men2{
		height:120px;
	}
	#men3{
		height:240px;
	}
	#men4{
		height:0px;
	}
	#men5{
		height:0px;
	}
	#men6{
		height:120px;
	}
	.submen{
		width:133px;
		height:40px;
		background:#76BEE0;
		line-height:40px;
		text-align:center;
		font-size:medium;
		z-index:6;
	}
	.submen:hover{
		width:133px;
		height:40px;
		background:#004669;
		color:#FFFFFF;
		font-weight:bolder;
		font-size:medium;
		cursor:pointer;
		line-height:40px;
		text-align:center;
		z-index:6;
	}
	/*中段內容外框*/
	#content{
		width:800px;
		height:230px;
		background:#FFFFFF;
		z-index:2;
		position:absolute; /*關鍵指令:以絕對位置方式定住*/
	}
	#cnt1{
		width:540px;
		height:230px;
		float:left;
	}
	#subcnt1_1{
		width:800px;
		height:30px;
		background:url(../Images/TPIA/line2.jpg);
		background-repeat:no-repeat;
		float:left;
	}
	#subcnt1_2{
		width:800px;
		height:200px;
		float:left;
		overflow:auto;
		border-bottom:2px #FFFFFF solid;
	}
	#cnt2{
		width:260px;
		height:230px;
		float:left;
	}
	#subcnt2_1{
		width:260px;
		height:30px;
		background:url(../Images/TPIA/line3.jpg);
		background-repeat:no-repeat;
		float:left;
	}
	#subcnt2_2{
		width:260px;
		height:200px;
		float:left;
		overflow:auto;
	}
	.mqimg{
		border:#FFFFFF 2px solid;
	}
	.mqimg:hover{
		border:#666666 2px solid;
	}
	/*註腳內容*/
	#footctn{
		width:800px;
		height:160px;
		background:#76BEE0;
		position:absolute;
		z-index:2;
		top:435px;
	}
	#ftn1,#ftn2,#ftn3,#ftn4,#ftn5,#ftn6{
		width:123px;
		height:150px;
		float:left;
		padding:5px;
		position:relative;
	}	
	
	/*所有權聲明*/
	#cpycnt{
		width:800px;
		height:26px;
		background:#11384A;
		position:absolute;
		z-index:2;
		top:585px;
		
		
	}
	/*文字樣式*/
	.sm_txt01_a{
		font-size:medium;
		line-height:40px;
		font-family:"微軟正黑體";
		font-weight:bolder;
		color:#11384A;
		text-align:center;
		text-decoration:none;		
	}
	.sm_txt01_a:hover{
		color:#FFFFFF;
	}
	.li_txt01{
		font-size:13px;
		line-height:26px;
		font-family:"微軟正黑體";
		list-style-position:outside;
	}
	.ft_txt01{
		font-size:14px;
		line-height:20px;
		font-family:"微軟正黑體";
		font-weight:bolder;
		color:#11384A;
		text-align:center;
		list-style-type:none;
	}	
	.ft_txt01_a{
		font-size:14px;
		line-height:20px;
		font-family:"微軟正黑體";
		font-weight:bolder;
		color:#11384A;
		text-align:center;
		text-decoration:none;	
	}
	.ft_txt01_a:hover{
		color:#FFFFFF;
		border:#FFFFFF 1px solid;
	}
	.ft_txt02{
		font-size:14px;
		line-height:20px;
		font-family:"微軟正黑體";
		font-weight:bold;
		color:#11384A;
		text-align:center;
		list-style-type:none;
		text-decoration:none;
	}
	.ft_txt02_a{
		font-size:14px;
		line-height:20px;
		font-family:"微軟正黑體";
		font-weight:bold;
		color:#11384A;
		text-align:center;
		text-decoration:none;
	}
	.ft_txt02_a:hover{
		color:#FFFFFF;
	}
	.cp_txt01{
		font-size:8px;
		line-height:26px;
		font-family:"微軟正黑體";
		color:#FFFFFF;
		text-align:center;
	}