@{
    Layout = "~/Views/Shared/LayOutContent.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GuildConstitution</title>
</head>
<body>
    <div><h1>公會章程</h1></div>
    <div><hr></div>
    <div>
        
    </div>
</body>
</html>
