@{
    Layout = "~/Views/Shared/LayOutContent.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>公會規章</title>
</head>
<body>
    <div><h1>公會規章</h1></div>
    <div><hr></div>
    <div>
        <div><h2>印刷工業職業道德規範公約</h2></div>
        <div><ol>
                <li><h3>響應國家政策，以促進經濟繁榮，並維護社會之安定。</h3></li>
                <li><h3>建立品管制度，以確保印刷品質，維護印刷之信譽。</h3></li>
                <li><h3>防制公害污染，以確保環境品質，共同維護國民健康。</h3></li>
                <li><h3>加強同業和諧團結，切勿惡性競爭，削價搶標。</h3></li>
                <li><h3>加強印刷人才培訓，同業間勿相互挖角。</h3></li>
                <li><h3>維護國家形象，崇尚職業道德，不盜印、不仿冒、不侵害著作權。</h3></li>
                <li><h3>拒絕承印有害國家社會及心理健康之印刷物。</h3></li>
                <li><h3>熱誠發揮印刷力量，宣導社會步向祥和，安寧及樸實。</h3></li>
        </ol></div>
        <br /><br />
        <div><h2>工業團體倫理守則</h2></div>
        <div><ol>
                <li><h3>配合國家政策、守法踏實經營。</h3></li>
                <li><h3>崇尚企業倫理、和諧勞資關係。</h3></li>
                <li><h3>重視研發培訓、加速產業升級。</h3></li>
                <li><h3>誠實繳納稅賦、屨行企業義務。</h3></li>
                <li><h3>創立自我品牌、尊重智慧財產。</h3></li>
                <li><h3>重視消費權益、嚴格品質管制。</h3></li>
                <li><h3>防治工業污染、確保環境品質。</h3></li>
                <li><h3>遏止地下經濟、建全市場秩序。</h3></li>
                <li><h3>澈勵愛國情操、熱心公溢活動。</h3></li>
                <li><h3>崇尚平實生活、消弭奢華風氣。</h3></li>
        </ol></div>
    </div>
</body>
</html>
