@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>關於公會</title>
</head>
<body>
    <div>
        <h1>關於公會</h1>
    </div>
    <div>
        <hr>
    </div>
    <div>
        <h2>服務項目</h2>
    </div>
    <div>
        <ol>
        <li><h3>會員權益之維護：協助會員解決所面臨的問題</h3></li>
        <li><h3>會員意見之反映：向政府相關單位反映會員之意見</h3></li>
        <li><h3>資訊資料之提供：以電子郵件及網路系統即時傳達資訊</h3></li>
        <li><h3>政府政令之宣導：政府相關法令及政策宣導會員瞭解</h3></li>
        <li><h3>相關問題之諮詢：解答及回覆會員欲瞭解及諮詢之問題</h3></li>
        <li><h3> 印刷技術之輔導：舉辨印刷學術及技術研討會</h3></li>
        <li><h3>辨理印刷產業調查：掌握印刷發展之脈動及未來指標</h3></li>
        <li><h3>辨理台北國際印刷展：吸取印刷科技新知</h3></li>
        <li><h3>定期出版印刷會訊：使會員瞭解印刷發展動態及資訊</h3></li>
        <li><h3>其他有關會員廠商所需要之服務</h3></li>
        </ol>
    </div>
</body>
</html>
