@{
    Layout = "~/Views/Shared/LayOutContent.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>關於公會</title>
</head>
<body>
    <h1>與我們聯絡</h1>
    <hr>
    <p class ="text">
        台灣區印刷暨機器材料工業同業公會<br />
        台北市仁愛路二段71號6樓A室<br />
        TEL ：（02）2341-8034~5<br />
        FAX：（02）2391-9294<br />
        e-mail：<a href="mailto:tpia0271@ms37.hinet.net">tpia0271@ms37.hinet.net</a>
    </p>
</body>
</html>
