@{
    Layout = "~/Views/Shared/LayOutContent.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>關於公會</title>
</head>
<body>
    <div><h1>公會簡介</h1></div>
    <div><hr></div>
    <div><h2>一.沿革：</h2></div>
    <div><ul>
            <li><h3>民國37.6.5（西元1948）成立「台灣區印刷暨机器材料工業同業公會」，謝火塗先生擔任第一屆理事長。</h3></li>
            <li><h3>民國44.9.23（西元1955）加入中華民國全國工業總會。</h3></li>
            <li><h3>民國82.6.18（西元1993）捐款，發起成立「財團法人印刷工業技術研究中心」。</h3></li>
            <li><h3>民國91.3.20 更改名稱為「台灣區印刷暨机器材料工業同業公會」，（西元2002）現任（第二十三屆）理事長為袁榮華先生</h3></li>
    </ul></div>
    <div><h2>二.組織：</h2></div>
    <div><ul>
            <li><h3>本會組織以會員代表大會為最高決策機構，每年召開會員代表大會一次。</h3></li>
            <li><h3>每三年改選理監事，每三個月召開理監事聯席會一次，本會理事27名，監事9名。</h3></li>
            <li><h3>本會設10個委員會，分擔各項業務：</h3></li>
    </ul><ol>
            <li><h3>印刷委員會主委陳金茵</h3></li>
            <li><h3>教育委員會主委魏尚敬</h3></li>
            <li><h3>外銷委員會主委鄭永福</h3></li>
            <li><h3>裝訂委員會主委王叔雄</h3></li>
            <li><h3>製版分色委員會主委柯吉德</h3></li>
            <li><h3>特殊印刷委員會主委楊爵榮</h3></li>
            <li><h3>電腦報表委員會主委殷慶璋</h3></li>
            <li><h3>污染防治委員會主委張中一</h3></li>
            <li><h3>大陸委員會主委張和雄</h3></li>
            <li><h3>印刷機材委員會主委陳政雄</h3></li>
    </ol></div>
    <div><h2>三.會員分佈、分類：</h2></div>
    <div><h2>
        本會現約有400家會員遍佈台灣全省，
        其中包括：印刷、製版分色、電腦事務用品
        、裝訂、特殊印刷（粘標、網版、標貼印刷
        等）以及其他類別（上光、電腦排版、轉寫
        印刷、絨布印刷及影印紙）
    </h2></div>
    <div><h2>四.本會任務及功能：</h2></div>
    <div><ol>
            <li><h3>會員權益之維護</h3></li>
            <li><h3>會員意見之反映</h3></li>
            <li><h3>資訊資料之提供</h3></li>
            <li><h3>政府政令之宣導</h3></li>
            <li><h3>印刷會訊之贈閱</h3></li>
            <li><h3>印刷資料庫之使用</h3></li>
            <li><h3>印刷技術之輔導</h3></li>
            <li><h3>相關問題之諮詢</h3></li>
            <li><h3>辦理印刷產業調查</h3></li>
            <li><h3>辦理國際印刷機材展</h3></li>
            <li><h3>參加印研中心各項服務</h3></li>
            <li><h3>其他有關會員所需之服務</h3></li>
    </ol></div>
</body>
</html>
