@{
    Layout = "~/Views/Shared/LayOutContent.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>關於公會</title>
</head>
<body>
    <h1>公會沿革</h1>
    <hr>
    <h2>台灣區印刷暨機器材料工業同業公會沿革史</h2>
    
    <p class="text">
        台灣光復初期，印刷工業未能普遍發展，以小規模工廠居多，
        略具規模者僅十餘家，而成立縣市印刷業同業公會暫只有台北、台
        中、台南三市。民國三十六年十月工業法修正，飭令符合工廠法規
        定標準之印刷工廠，進行籌組區級工業同業公會，翌年四月乃由謝
        火塗先生等十位代表，並以台北市印刷業同業公會原有之會員為基
        礎，於同年六月正式成立台灣區印刷工業同業公會，並推選謝火塗
        先生出任第一屆理事長，迄今已有二十三屆，有五十四年歷史。為
        推廣服務相關同業，於民國九十一年三月核備更名為台灣區印刷暨
        機器材料工業同業公會，現任理事長為呂進發先生。
    </p>
    <br /><br />
    <h2>歷任理事長</h2>
    <div class="about_textbox">
        <ul class="sty">
            <li><h3>　第一屆　謝火塗　36年6月推選</h3></li>
            <li><h3>　第一屆　李雍　　38年4月謝火塗懇辭，補選繼任</h3></li>
            <li><h3>　第二屆　陳清水　39年2月當選</h3></li>
            <li><h3>　第三屆　陳清水　41年2月當選連任</h3></li>
            <li><h3>　第四屆　汪耀燦　43年2月當選</h3></li>
            <li><h3>　第五屆　汪耀燦　45年2月當選連任</h3></li>
            <li><h3>　第六屆　汪耀燦　47年2月當選連任</h3></li>
            <li><h3>　第七屆　陳太山　49年2月當選</h3></li>
            <li><h3>　第八屆　姚露水　51年2月當選</h3></li>
            <li><h3>　第九屆　詹金來　53年2月當選</h3></li>
            <li><h3>　第十屆　葉國楠　55年2月當選</h3></li>
            <li><h3>第十一屆　葉國楠　57年2月當選連任</h3></li>
            <li><h3>第十二屆　黃毓麟　59年8月當選</h3></li>
            </ul>
        <ul class="sty">
            <li><h3>第十三屆　王秋良　61年10月當選</h3></li>
            <li><h3>第十四屆　楊佳興　63年10月當選</h3></li>
            <li><h3>第十五屆　黃毓麟　66年3月當選</h3></li>
            <li><h3>第十六屆　林清河　69年3月當選</h3></li>
            <li><h3>第十七屆　林清河　72年3月當選連任</h3></li>
            <li><h3>第十八屆　湯加添　75年3月當選</h3></li>
            <li><h3>第十九屆　湯加添　78年3月當選連任</h3></li>
            <li><h3>第二十屆　呂進發　81年5月當選</h3></li>
            <li><h3>第廿一屆　呂進發　84年5月當選連任</h3></li>
            <li><h3>第廿二屆　袁榮華　87年12月當選</h3></li>
            <li><h3>第廿三屆　呆榮華　91年1月當選連任</h3></li>
            <li><h3>第廿四屆　呂進發　94年3月當選</h3></li>
        </ul>
    </div>
</body>
</html>
