@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>關於公會</title>
</head>
<body>
    <div><h1>公會組織圖</h1></div>
    <div><hr></div>
    <div>

    </div>
</body>
</html>
