@{
    Layout = "~/Views/Shared/LayOutContent.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>關於公會</title>
</head>
<body>
    <div><h1>會務發展</h1></div>
    <div><hr></div>
    <div><h2>大事記要：</h2></div>
    <div><ul>
             <li><h3>81年度專業考核人力培訓績效　　　　　優等..........內政部</h3></li>
             <li><h3>81年度工作績效綜合考核　　　　　　　優等..........內政部</h3></li>
             <li><h3>82年度工作績效綜合考核　　　　　　　優等..........內政部</h3></li>
             <li><h3>83年度工作績效綜合考核　　　　　　　優等..........內政部</h3></li>
             <li><h3>84年度工作績效綜合考核　　　　　　　優等..........內政部</h3></li>
             <li><h3>85年度工作績效綜合考核　　　　　　　甲等..........內政部</h3></li>
             <li><h3>86年度工作績效綜合考核　　　　　　　甲等..........內政部</h3></li>
             <li><h3>87年度工作績效綜合考核　　　　　　　甲等..........內政部</h3></li>
             <li><h3>本會會訊榮獲第五屆工商刊物組　　　　優良獎　80年</h3></li>
             <li><h3>本會會訊榮獲第六屆工商刊物月刊組　　優良獎　81年</h3></li>
             <li><h3>本會會訊榮獲第七屆工商刊物月刊組　　優良獎　82年</h3></li>
             <li><h3>本會會訊榮獲第八屆工商刊物月刊組　　優良獎　83年</h3></li>
             <li><h3>本會會訊榮獲第九屆工商刊物月刊組　　優良獎　84年</h3></li>
             <li><h3>本會會訊榮獲第十屆工商刊物月刊組　　第三名　85年</h3></li>
             <li><h3>本會會訊榮獲第十三屆工商刊物月刊組　優良獎　87年</h3></li>
    </ul></div>
</body>
</html>
