@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>關於公會</title>
</head>
<body>
    <div><h1>公會組織</h1></div>
    <div><hr></div>
    <div>
        <h2>本會組織以會員代表大會為最高決策機構，每年召開會員代表大會一次。</h2>
        <h2>每三年改選理監事，每三個月召開理監事聯席會一次，本會理事27名，監事9名。</h2>
        <h2>本會為加強會員服務之功，本會第２３屆共設置１０個委員會</h2>
        <h2>各委員會及辨事處主任如下：</h2>
    </div>
    <div><ul>
             <li><h3>印刷委員會主任委員　　　　陳金茵</h3></li>
             <li><h3>教育委員會主任委員　　　　魏尚敬</h3></li>
             <li><h3>外銷拓展委員會主任委員　　鄭永福</h3></li>
             <li><h3>製版分色委員會主任委員　　柯吉德</h3></li>
             <li><h3>特殊印刷委員會主任委員　　楊爵榮</h3></li>
             <li><h3>裝訂委員會主任委員　　　　王叔雄</h3></li>
             <li><h3>污染防治委員會主任委員　　張中一</h3></li>
             <li><h3>電腦報表委員會主任委員　　殷慶璋</h3></li>
             <li><h3>大陸小組委員會主任委員　　張和雄</h3></li>
             <li><h3>印刷機材委員會主任委員　　陳政雄</h3></li>
    </ul></div>
</body>
</html>