<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>台灣區印刷暨機器材料工業同業公會Welcome to Taiwan Printing Industry Association</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @*<script type="text/javascript" src="https://npmcdn.com/masonry-layout@4.0.0/dist/masonry.pkgd.min.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/Home/style.js"></script>
    <script type="text/javascript" src="~/Scripts/Home/function.js"></script>*@
    <link href="~/CSS/content_box.css" rel="stylesheet" type="text/css" />

    
</head>
<body>
    <div id="outside">
        <div id="banner"></div>	<!--廣告橫幅-->
        <div id="btnoutside">
            <div id="btngp">
                <!--第1組按鈕-->
                <div id="menbtngp1">
                    <div id="btn1"><a href="about1_1.html" class="sm_txt01_a">關於公會</a></div>
                    <div id="men1">
                        <div class="submen"><a href="about1_2.html" class="sm_txt01_a">公會沿革</a></div>
                        <div class="submen"><a href="about1_3.html" class="sm_txt01_a">公會簡介</a></div>
                        <div class="submen"><a href="about1_4.html" class="sm_txt01_a">公會組織</a></div>
                        <div class="submen"><a href="about1_5.html" class="sm_txt01_a">會務發展</a></div>
                        <div class="submen"><a href="about1_6.html" class="sm_txt01_a">組&nbsp;&nbsp;織&nbsp;&nbsp;圖</a></div>
                    </div>
                </div><!--ENDOF menbtngp1 4-->
                <!--第2組按鈕-->
                <div id="menbtngp2">
                    <div id="btn2"><a href="about2_1.html" class="sm_txt01_a">公會規章</a></div>
                    <div id="men2">
                        <div class="submen"><a href="about2_2.html" class="sm_txt01_a">公會章程</a></div>
                        <div class="submen"><a href="about2_3.html" class="sm_txt01_a">入會須知</a></div>
                        <div class="submen"><a href="about2_4.html" class="sm_txt01_a">繳費細則</a></div>
                    </div>
                </div><!--ENDOF menbtngp2 4-->
                <!--第3組按鈕-->
                <div id="menbtngp3">
                    <div id="btn3"><a href="news1_1.html" class="sm_txt01_a">最新消息</a></div>
                    <div id="men3">
                        <div class="submen"><a href="news1_2.html" class="sm_txt01_a">公會訊息</a></div>
                        <div class="submen"><a href="news1_3.html" class="sm_txt01_a">產業快訊</a></div>
                        <div class="submen"><a href="news1_4.html" class="sm_txt01_a">活動快訊</a></div>
                        <div class="submen"><a href="news1_5.html" class="sm_txt01_a">展覽通知</a></div>
                        <div class="submen"><a href="news1_6.html" class="sm_txt01_a">研習課程</a></div>
                        <div class="submen"><a href="news1_7.html" class="sm_txt01_a">專業發表</a></div>
                    </div>
                </div><!--ENDOF menbtngp1 4-->
                <!--第4組按鈕-->
                <div id="menbtngp4">
                    <div id="btn4"><a href="member1_1.html" class="sm_txt01_a">會員名錄</a></div>
                    <div id="men4"></div>
                </div><!--ENDOF menbtngp2 4-->
                <!--第5組按鈕-->
                <div id="menbtngp5">
                    <div id="btn5"><a href="link1_1.html" class="sm_txt01_a">相關連結</a></div>
                    <div id="men5"></div>
                </div><!--ENDOF menbtngp2 4-->
                <!--第6組按鈕-->
                <div id="menbtngp6">
                    <div id="btn6"><a href="member2_1.html" class="sm_txt01_a">會員專區</a></div>
                    <div id="men6">
                        <div class="submen"><a href="member2_2.html" class="sm_txt01_a">印刷會訊</a></div>
                        <div class="submen"><a href="member2_3.html" class="sm_txt01_a">出版訂購</a></div>
                        <div class="submen"><a href="member2_4.html" class="sm_txt01_a">新進會員</a></div>
                    </div>
                </div><!--ENDOF menbtngp2 4-->
            </div><!--ENDOF btngp 3-->
        </div><!--ENDOF btnoutside 2-->              
    </div>
    @RenderBody()
    
    @*<div id="footer" style="text-align:center;">
        本會現址：台北市仁愛路二段71號6樓A室<br />
        電話：（02）2341-8034~5 傳真： 2391-9294<br />
        E-mail：<a href="mailto:tpia0271@ms37.hinet.net">tpia0271@ms37.hinet.net</a>   網址：<a href="www.tpia.org.tw">www.tpia.org.tw</a>
    </div>*@
</body>
</html>
