@{
    Layout = "~/Views/Shared/LayOutContent.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>會員專區</title>
</head>
<body>
    <div><h1>印刷會訊</h1></div>
    <div><hr></div>
    <div>

    </div>
</body>
</html>
